spring:
  sql:
    init:
      mode: always
  application:
    name: community

  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:h2:~/community;AUTO_SERVER=TRUE;MODE=MySQL
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    defer-datasource-initialization: true
    database: h2
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Seoul
        show-sql: true
        format_sql: true
        use_sql_comments: false

  thymeleaf:
    prefix: file:src/main/resources/templates/
    cache: false

  data:
    web:
      pageable:
        default-page-size: 10
        one-indexed-parameters: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: msok9559@gmail.com
    password: iqoc koda avuy swxt
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 225525838906-ok6gspijgjudsgs16bt0plua5idlkqg8.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile